<!DOCTYPE html>
<html>
  <head>
    <title>Default page for <%= @hostname %></title>
  </head>
  <body>
    <h1>Default page for <%= @hostname %></h1>
    <p><a href="http://www.fixme.fi">fixme.fi</a></p>
  </body>
</html>